#Making NSE Database From YFinance

---

This is a sample file consisting code of how we will make database from Yfinance ie Yahoo Finance.


This doesn't consitsts all the stocks and is not the actual file we will use in our project. This is just an idea how we will make database.

In [ ]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.12-py2.py3-none-any.whl (59 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.2/59.2 KB 2.6 MB/s eta 0:00:00
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.1-cp36-abi3-manylinux_2_28_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 42.6 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.2-py3-none-any.whl (129 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.4/129.4 KB 9.4 MB/s eta 0:00:00
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.5-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (111 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.2/111.2 KB 7.4 MB/s eta 0:00:00
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 9.4 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7.1)
Collecting requests>=2.26
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 4.2 MB/s eta 0:00:00
Collecting soupsieve>1.2
  Downloading soupsieve-2.4-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (3.0.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: soupsieve, requests, html5lib, frozendict, cryptography, beautifulsoup4, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.2 cryptography-39.0.1 frozendict-2.3.5 html5lib-1.1 requests-2.28.2 soupsieve-2.4 yfinance-0.2.12

In [ ]:
import sqlalchemy
import pandas as pd
import yfinance as yf

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/MDG SOC 23/NSE Tickers List.csv')
df

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,PAID UP VALUE,MARKET LOT,ISIN NUMBER,FACE VALUE
0,20MICRONS,20 Microns Limited,EQ,06-OCT-2008,5,1,INE144J01027,5
1,21STCENMGM,21st Century Management Services Limited,EQ,03-MAY-1995,10,1,INE253B01015,10
2,360ONE,360 ONE WAM LIMITED,EQ,19-SEP-2019,2,1,INE466L01020,2
3,3IINFOLTD,3i Infotech Limited,EQ,22-OCT-2021,10,1,INE748C01038,10
4,3MINDIA,3M India Limited,EQ,13-AUG-2004,10,1,INE470A01017,10
...,...,...,...,...,...,...,...,...
1893,ZOTA,Zota Health Care LImited,EQ,19-AUG-2019,10,1,INE358U01012,10
1894,ZUARI,Zuari Agro Chemicals Limited,EQ,27-NOV-2012,10,1,INE840M01016,10
1895,ZUARIIND,ZUARI INDUSTRIES LIMITED,EQ,12-APR-1995,10,1,INE217A01012,10
1896,ZYDUSLIFE,Zydus Lifesciences Limited,EQ,18-APR-2000,1,1,INE010B01027,1
1897,ZYDUSWELL,Zydus Wellness Limited,EQ,13-NOV-2009,10,1,INE768C01010,10

In [ ]:
tickersSensex = df['SYMBOL'].values
tickersSensex

array(['20MICRONS', '21STCENMGM', '360ONE', ..., 'ZUARIIND', 'ZYDUSLIFE',
       'ZYDUSWELL'], dtype=object)

In [ ]:
# downloading database from yfinance library 
def getdata (tickers):
  data = []
  for ticker in tickers:
    data.append(yf.download(ticker + '.NS').reset_index())
  return data

In [ ]:
nse = getdata(tickersSensex)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [ ]:
# above code will take 20 min 
nse

[           Date       Open       High        Low      Close  Adj Close  \
 0    2008-10-06  40.000000  40.000000  15.800000  16.775000  14.731859
 1    2008-10-07  16.000000  19.000000  13.925000  15.025000  13.195004
 2    2008-10-08  14.000000  14.600000  12.550000  13.250000  11.636193
 3    2008-10-10  12.450000  12.450000  10.825000  11.600000  10.187160
 4    2008-10-13  12.150000  13.300000  11.650000  12.325000  10.823855
 ...         ...        ...        ...        ...        ...        ...
 3540 2023-02-15  74.699997  76.650002  74.699997  75.550003  75.550003
 3541 2023-02-16  75.949997  77.000000  73.199997  73.650002  73.650002
 3542 2023-02-17  73.699997  74.349998  71.900002  72.050003  72.050003
 3543 2023-02-20  72.099998  73.000000  69.000000  70.050003  70.050003
 3544 2023-02-21  70.000000  71.250000  69.500000  70.199997  70.199997

         Volume
 0     23501600
 1      9113400
 2      2464384
 3      1207928
 4       898692
 ...        ...
 3540     83127
 3541    157289
 3542     89627
 3543    116487
 3544     82458

 [3545 rows x 7 columns],
            Date       Open       High        Low      Close  Adj Close  Volume
 0    2018-01-11  33.400002  33.400002  33.400002  33.400002  31.146290     157
 1    2018-01-12  34.049999  34.049999  34.049999  34.049999  31.752428     360
 2    2018-01-15  34.700001  34.700001  34.700001  34.700001  32.358570     795
 3    2018-01-16  35.349998  35.349998  35.349998  35.349998  32.964706    2735
 4    2018-01-17  36.049999  36.049999  35.400002  36.049999  33.617474   56033
 ...         ...        ...        ...        ...        ...        ...     ...
 1259 2023-02-15  19.150000  19.150000  19.150000  19.150000  19.150000    1307
 1260 2023-02-16  18.799999  19.000000  18.799999  18.799999  18.799999    7652
 1261 2023-02-17  18.450001  18.450001  18.450001  18.450001  18.450001    1007
 1262 2023-02-20  18.350000  18.799999  18.100000  18.100000  18.100000   11176
 1263 2023-02-21  18.100000  18.100000  17.750000  17.750000  17.750000    1392

 [1264 rows x 7 columns],
           Date         Open         High          Low        Close  \
 0   2019-09-19  1210.000000  1270.500000  1210.000000  1270.500000
 1   2019-09-20  1329.000000  1334.000000  1329.000000  1334.000000
 2   2019-09-23  1400.699951  1400.699951  1400.699951  1400.699951
 3   2019-09-24  1470.699951  1470.699951  1470.699951  1470.699951
 4   2019-09-25  1544.199951  1544.199951  1397.199951  1404.949951
 ..         ...          ...          ...          ...          ...
 847 2023-02-15  1850.000000  1859.949951  1833.900024  1839.000000
 848 2023-02-16  1839.000000  1844.800049  1810.550049  1822.699951
 849 2023-02-17  1858.949951  1865.699951  1809.050049  1813.300049
 850 2023-02-20  1830.000000  1898.000000  1810.000000  1831.250000
 851 2023-02-21  1848.900024  1848.900024  1793.000000  1812.949951

        Adj Close   Volume
 0    1092.137939  1777465
 1    1146.723145   690162
 2    1204.059448     8524
 3    1264.232178   624163
 4    1207.712646   132645
 ..           ...      ...
 847  1839.000000    13728
 848  1822.699951    15448
 849  1813.300049    20585
 850  1831.250000    51850
 851  1812.949951    37548

 [852 rows x 7 columns],
            Date        Open        High         Low       Close   Adj Close  \
 0    2005-04-22  590.000000  590.000000  480.000000  490.500000  432.857880
 1    2005-04-25  494.500000  498.500000  471.000000  474.799988  419.002899
 2    2005-04-26  478.299988  481.299988  465.500000  467.000000  412.119476
 3    2005-04-27  467.000000  508.799988  461.799988  480.500000  424.033051
 4    2005-04-28  480.000000  493.500000  473.299988  477.799988  421.650299
 ...         ...         ...         ...         ...         ...         ...
 4399 2023-02-15   35.450001   36.000000   35.450001   35.700001   35.700001
 4400 2023-02-16   37.599998   37.599998   36.049999   36.450001   36.450001
 4401 2023-02-17   36.400002   36.650002   36.099998   36.250000   36.250000
 4402 2023-02-20   36.450001   36.450001   35.700001   35.799999   35.799999
 4403 2023-02-21   35.450001   36.000000   35.450001   35.650002   35.650002

        Volume
 0     3304177
 1     1021511
 2      680155
 3     1872361
 4      741207
 ...       ...
 4399   199188
 4400   401061
 4401   175988
 4402   195694
 4403   240476

 [4404 rows x 7 columns],
            Date          Open          High           Low         Close  \
 0    2002-07-01    283.250000    291.950012    283.250000    287.000000
 1    2002-07-02    290.000000    294.899994    288.000000    288.000000
 2    2002-07-03    294.950012    295.000000    291.549988    294.799988
 3    2002-07-04    295.950012    324.299988    295.000000    324.299988
 4    2002-07-05    330.000000    331.000000    313.049988    317.799988
 ...         ...           ...           ...           ...           ...
 5126 2023-02-15  22302.000000  22579.949219  21500.000000  21554.000000
 5127 2023-02-16  21700.000000  22400.000000  21558.000000  22263.500000
 5128 2023-02-17  22200.000000  22356.800781  21951.550781  22177.050781
 5129 2023-02-20  22180.000000  22387.449219  21862.599609  22085.050781
 5130 2023-02-21  22099.949219  22350.500000  22063.000000  22212.349609

          Adj Close  Volume
 0       276.967529     240
 1       277.932587    1240
 2       284.494873    1345
 3       312.963654    6872
 4       306.690857    2106
 ...            ...     ...
 5126  21554.000000   48590
 5127  22263.500000    7205
 5128  22177.050781   12667
 5129  22085.050781    4923
 5130  22212.349609    1198

 [5131 rows x 7 columns],
            Date       Open       High        Low      Close  Adj Close  Volume
 0    2008-03-11  32.000000  32.150002  31.900000  32.150002  31.924387    1196
 1    2008-03-12  33.700001  33.799999  33.700001  33.799999  33.562805     550
 2    2008-03-13  34.299999  35.299999  33.000000  33.099998  32.867718    3371
 3    2008-03-14  32.150002  34.099998  31.549999  33.000000  32.768421    4408
 4    2008-03-17  32.000000  33.950001  31.450001  33.900002  33.662106    1241
 ...         ...        ...        ...        ...        ...        ...     ...
 3664 2023-02-15  23.200001  23.250000  22.500000  23.250000  23.250000   14676
 3665 2023-02-16  24.400000  24.400000  23.700001  24.400000  24.400000   23358
 3666 2023-02-17  24.850000  24.900000  23.200001  23.200001  23.200001   30598
 3667 2023-02-20  22.100000  22.500000  22.049999  22.049999  22.049999   10903
 3668 2023-02-21  22.000000  22.049999  20.950001  21.350000  21.350000   12511

 [3669 rows x 7 columns],
            Date        Open        High         Low       Close   Adj Close  \
 0    2017-03-15  184.800003  184.800003  162.000000  162.000000  162.000000
 1    2017-03-16  172.000000  172.000000  172.000000  172.000000  172.000000
 2    2017-03-17  177.800003  177.800003  160.199997  160.600006  160.600006
 3    2017-03-20  151.000000  158.000000  150.000000  158.000000  158.000000
 4    2017-03-21  174.600006  174.600006  150.100006  160.000000  160.000000
 ...         ...         ...         ...         ...         ...         ...
 1464 2023-02-15   32.349998   32.549999   32.349998   32.549999   32.549999
 1465 2023-02-16   32.900002   33.150002   32.900002   33.049999   33.049999
 1466 2023-02-17   33.500000   33.700001   33.150002   33.650002   33.650002
 1467 2023-02-20   34.000000   34.299999   33.650002   34.299999   34.299999
 1468 2023-02-21   34.750000   34.849998   34.000000   34.799999   34.799999

       Volume
 0      48000
 1       2000
 2      44000
 3       6000
 4      52000
 ...      ...
 1464  238409
 1465  310280
 1466  305809
 1467  314278
 1468  509604

 [1469 rows x 7 columns],
            Date        Open        High         Low       Close   Adj Close  \
 0    2017-11-16  243.290054  243.290054  231.125565  231.125565  231.125565
 1    2017-11-17  219.569275  219.569275  219.569275  219.569275  219.569275
 2    2017-11-20  208.621231  208.621231  208.590820  208.590820  208.590820
 3    2017-11-21  198.190170  198.190170  198.190170  198.190170  198.190170
 4    2017-11-22  188.306503  188.306503  188.306503  188.306503  188.306503
 ...         ...         ...         ...         ...         ...         ...
 1298 2023-02-15  286.000000  286.649994  281.600006  284.850006  284.850006
 1299 2023-02-16  286.000000  293.549988  281.350006  291.000000  291.000000
 1300 2023-02-17  294.899994  294.899994  290.549988  291.350006  291.350006
 1301 2023-02-20  294.000000  294.000000  288.000000  288.200012  288.200012
 1302 2023-02-21  289.500000  291.850006  283.799988  285.600006  285.600006

       Volume
 0      44615
 1       3799
 2       1506
 3       1366
 4       1556
 ...      ...
 1298   13497
 1299   25847
 1300   11562
 1301   11987
 1302   13687

 [1303 rows x 7 columns],
            Date        Open        High         Low       Close   Adj Close  \
 0    2005-06-20  425.000000  425.000000  373.000000  386.899994  270.479034
 1    2005-06-21  392.899994  424.399994  383.000000  405.700012  283.622009
 2    2005-06-22  415.000000  449.000000  415.000000  437.899994  306.132812
 3    2005-06-23  444.899994  453.799988  425.500000  437.100006  305.573547
 4    2005-06-24  432.100006  439.850006  425.000000  434.850006  304.000580
 ...         ...         ...         ...         ...         ...         ...
 4358 2023-02-15  213.100006  215.600006  207.300003  212.699997  212.699997
 4359 2023-02-16  214.649994  214.649994  204.850006  206.750000  206.750000
 4360 2023-02-17  206.600006  210.899994  202.300003  203.949997  203.949997
 4361 2023-02-20  205.699997  208.750000  200.149994  203.250000  203.250000
 4362 2023-02-21  204.000000  206.399994  195.250000  197.050003  197.050003

       Volume
 0      27968
 1      41380
 2     145355
 3      63692
 4      34179
 ...      ...
 4358  290614
 4359  216177
 4360  157170
 4361  390046
 4362  435123

 [4363 rows x 7 columns],
            Date        Open        High         Low       Close   Adj Close  \
 0    2010-12-23  500.000000  500.000000  318.600006  328.149994  325.333252
 1    2010-12-24  330.049988  349.950012  323.500000  332.100006  329.249359
 2    2010-12-27  336.899994  339.950012  321.250000  325.450012  322.656464
 3    2010-12-28  326.000000  328.899994  315.549988  317.649994  314.923401
 4    2010-12-29  318.799988  322.950012  315.149994  317.000000  314.278992
 ...         ...         ...         ...         ...         ...         ...
 2997 2023-02-15    8.100000    8.150000    7.850000    7.900000    7.900000
 2998 2023-02-16    7.900000    8.200000    7.900000    8.100000    8.100000
 2999 2023-02-17    8.100000    8.100000    8.000000    8.000000    8.000000
 3000 2023-02-20    7.800000    8.150000    7.800000    7.900000    7.900000
 3001 2023-02-21    8.000000    8.200000    7.850000    7.900000    7.900000

         Volume
 0     30723700
 1      9296960
 2      1678278
 3      1342115
 4       774595
 ...        ...
 2997   1019754
 2998     65418
 2999     67495
 3000     92372
 3001    121031

 [3002 rows x 7 columns],
           Date       Open       High        Low      Close  Adj Close  Volume
 0   2020-11-12  43.299999  44.250000  43.200001  43.200001  42.761948   21000
 1   2020-11-13  43.200001  43.200001  42.750000  42.750000  42.316509    9000
 2   2020-11-14  43.200001  45.000000  43.200001  44.400002  43.949780   21000
 3   2020-11-17  43.500000  43.500000  43.400002  43.400002  42.959919    6000
 4   2020-11-18  43.000000  43.000000  43.000000  43.000000  42.563976    9000
 ..         ...        ...        ...        ...        ...        ...     ...
 561 2023-02-15  62.150002  64.750000  60.000000  60.349998  60.349998    9385
 562 2023-02-16  59.349998  61.900002  59.349998  60.750000  60.750000    9378
 563 2023-02-17  60.950001  61.900002  58.599998  60.849998  60.849998   15517
 564 2023-02-20  61.150002  63.750000  58.000000  58.549999  58.549999    5919
 565 2023-02-21  59.000000  59.549999  58.000000  58.000000  58.000000    6141

 [566 rows x 7 columns],
            Date      Open  High       Low  Close  Adj Close   Volume
 0    2018-05-15  3.603333  3.73  3.603333   3.73       3.73    60000
 1    2018-05-16  3.730000  3.73  3.730000   3.73       3.73        0
 2    2018-05-17  3.600000  3.60  3.600000   3.60       3.60    30000
 3    2018-05-18  3.600000  3.60  3.600000   3.60       3.60        0
 4    2018-05-21  3.600000  3.60  3.270000   3.27       3.27    90000
 ...         ...       ...   ...       ...    ...        ...      ...
 1176 2023-02-15  7.800000  8.35  7.800000   8.35       8.35  1417827
 1177 2023-02-16  8.700000  8.70  7.950000   7.95       7.95   800828
 1178 2023-02-17  7.550000  7.80  7.550000   7.55       7.55   611904
 1179 2023-02-20  7.200000  7.35  7.200000   7.20       7.20   780388
 1180 2023-02-21  7.100000  7.10  6.850000   6.85       6.85   797575

 [1181 rows x 7 columns],
           Date       Open       High        Low      Close  Adj Close  Volume
 0   2021-08-06  43.750000  44.599998  42.750000  43.349998  43.349998  239282
 1   2021-08-09  44.099998  44.099998  41.000000  41.349998  41.349998   92693
 2   2021-08-10  41.099998  42.900002  38.000000  39.950001  39.950001  133733
 3   2021-08-11  42.299999  42.700001  36.299999  39.549999  39.549999  186461
 4   2021-08-12  40.400002  42.000000  39.450001  40.950001  40.950001   61802
 ..         ...        ...        ...        ...        ...        ...     ...
 380 2023-02-15  31.049999  31.900000  29.750000  29.950001  29.950001   64421
 381 2023-02-16  30.350000  32.950001  30.150000  31.600000  31.600000  103841
 382 2023-02-17  32.049999  32.900002  30.850000  31.850000  31.850000   45264
 383 2023-02-20  32.250000  32.250000  29.750000  30.049999  30.049999   30777
 384 2023-02-21  30.350000  30.950001  29.549999  30.150000  30.150000   27333

 [385 rows x 7 columns],
            Date        Open        High         Low       Close   Adj Close  \
 0    2018-09-18   19.666664   19.666664   18.571426   18.571426   18.233475
 1    2018-09-19   19.523808   19.904760   19.190475   19.761904   19.402288
 2    2018-09-21   19.523808   19.523808   19.523808   19.523808   19.168526
 3    2018-09-24   19.738094   19.809523   19.523808   19.523808   19.168526
 4    2018-09-25   18.333332   19.523808   18.333332   19.523808   19.168526
 ...         ...         ...         ...         ...         ...         ...
 1089 2023-02-15  181.000000  181.050003  176.050003  176.800003  176.800003
 1090 2023-02-16  181.000000  181.000000  177.100006  177.699997  177.699997
 1091 2023-02-17  177.199997  177.850006  173.600006  175.600006  175.600006
 1092 2023-02-20  172.250000  175.949997  171.350006  172.199997  172.199997
 1093 2023-02-21  171.300003  189.399994  171.300003  189.399994  189.399994

       Volume
 0      12600
 1      56700
 2       6300
 3      50400
 4      12600
 ...      ...
 1089    5192
 1090    3738
 1091    2005
 1092    4643
 1093   29544

 [1094 rows x 7 columns],
            Date        Open        High         Low       Close   Adj Close  \
 0    2003-09-19   10.643750   11.062500   10.125000   10.675000    6.928907
 1    2003-09-22   10.775000   11.206250   10.775000   11.187500    7.261558
 2    2003-09-23   11.487500   11.737500   11.312500   11.631250    7.549588
 3    2003-09-24   11.750000   11.750000   11.262500   11.362500    7.375147
 4    2003-09-25   11.312500   11.600000   11.175000   11.193750    7.265614
 ...         ...         ...         ...         ...         ...         ...
 4808 2023-02-15  378.850006  383.049988  377.850006  378.500000  378.500000
 4809 2023-02-16  380.000000  383.000000  378.500000  381.049988  381.049988
 4810 2023-02-17  380.899994  383.950012  377.250000  378.799988  378.799988
 4811 2023-02-20  378.799988  381.700012  370.000000  370.649994  370.649994
 4812 2023-02-21  370.600006  370.600006  361.850006  362.899994  362.899994

        Volume
 0      485600
 1     1109600
 2      472800
 3     2187200
 4      817600
 ...       ...
 4808    41590
 4809    53761
 4810    38686
 4811    75239
 4812    78186

 [4813 rows x 7 columns],
            Date        Open        High         Low       Close   Adj Close  \
 0    2002-07-01    2.631627    2.879481    2.631627    2.852752    0.600630
 1    2002-07-02    3.037427    3.037427    2.774994    2.816303    0.592956
 2    2002-07-03    2.755554    2.835742    2.755554    2.811443    0.591933
 3    2002-07-04    2.709385    2.787143    2.709385    2.721535    0.573003
 4    2002-07-05    2.692376    2.792003    2.692376    2.740974    0.577096
 ...         ...         ...         ...         ...         ...         ...
 5129 2023-02-15  535.000000  545.000000  534.049988  538.349976  538.349976
 5130 2023-02-16  541.000000  551.299988  540.049988  550.150024  550.150024
 5131 2023-02-17  548.000000  553.099976  540.049988  541.299988  541.299988
 5132 2023-02-20  543.000000  547.500000  532.849976  542.099976  542.099976
 5133 2023-02-21  543.000000  549.500000  533.349976  534.799988  534.799988

        Volume
 0       12345
 1        9650
 2        7757
 3        4712
 4        5144
 ...       ...
 5129   465550
 5130  1550890
 5131   398089
 5132   442829
 5133  1043453

 [5134 rows x 7 columns],
          Date        Open        High         Low       Close   Adj Close  \
 0  2023-01-30  299.899994  314.850006  286.100006  288.250000  288.250000
 1  2023-01-31  289.000000  289.000000  273.850006  273.850006  273.850006
 2  2023-02-01  260.149994  260.149994  260.149994  260.149994  260.149994
 3  2023-02-02  247.149994  247.149994  247.149994  247.149994  247.149994
 4  2023-02-03  234.800003  259.500000  234.800003  259.500000  259.500000
 5  2023-02-06  272.450012  272.450012  266.200012  272.450012  272.450012
 6  2023-02-07  286.049988  286.049988  286.049988  286.049988  286.049988
 7  2023-02-08  300.350006  300.350006  300.350006  300.350006  300.350006
 8  2023-02-09  315.350006  315.350006  315.350006  315.350006  315.350006
 9  2023-02-10  331.100006  331.100006  308.049988  313.049988  313.049988
 10 2023-02-13  318.000000  337.899994  313.750000  323.049988  323.049988
 11 2023-02-14  330.500000  330.500000  291.799988  298.450012  298.450012
 12 2023-02-15  302.950012  310.100006  287.950012  294.549988  294.549988
 13 2023-02-16  299.000000  301.700012  292.100006  295.299988  295.299988
 14 2023-02-17  301.000000  312.000000  295.200012  303.000000  303.000000
 15 2023-02-20  314.000000  317.000000  310.600006  314.700012  314.700012
 16 2023-02-21  318.000000  323.299988  307.000000  310.799988  310.799988

      Volume
 0    329027
 1    150034
 2     69850
 3     89213
 4   2065032
 5    660667
 6    343557
 7    310278
 8    724706
 9    751226
 10   360101
 11   260690
 12   198992
 13   112913
 14   370491
 15   173844
 16   334841  ,
           Date        Open        High         Low       Close   Adj Close  \
 0   2020-07-14  504.000000  504.000000  478.799988  478.799988  477.848572
 1   2020-07-15  454.899994  454.899994  454.899994  454.899994  453.996063
 2   2020-07-16  432.200012  432.200012  432.200012  432.200012  431.341187
 3   2020-07-17  410.600006  410.600006  410.600006  410.600006  409.784088
 4   2020-07-20  390.100006  390.100006  390.100006  390.100006  389.324829
 ..         ...         ...         ...         ...         ...         ...
 647 2023-02-15  535.000000  547.000000  535.000000  541.250000  541.250000
 648 2023-02-16  541.250000  548.000000  539.349976  542.000000  542.000000
 649 2023-02-17  544.400024  544.700012  539.099976  542.049988  542.049988
 650 2023-02-20  544.000000  544.000000  530.099976  535.250000  535.250000
 651 2023-02-21  535.000000  535.450012  529.000000  530.200012  530.200012

      Volume
 0      5644
 1      1061
 2       534
 3       866
 4      1308
 ..      ...
 647    7418
 648    8444
 649    4044
 650    4117
 651    4068


In [ ]:
len(nse)

1898

In [ ]:
type(nse)

list

In [ ]:
tickersSensex

array(['20MICRONS', '21STCENMGM', '360ONE', ..., 'ZUARIIND', 'ZYDUSLIFE',
       'ZYDUSWELL'], dtype=object)

In [ ]:
type(tickersSensex)

numpy.ndarray

In [ ]:
type(nse)

list

In [ ]:
nse[0]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2008-10-06,40.000000,40.000000,15.800000,16.775000,14.731859,23501600
1,2008-10-07,16.000000,19.000000,13.925000,15.025000,13.195004,9113400
2,2008-10-08,14.000000,14.600000,12.550000,13.250000,11.636193,2464384
3,2008-10-10,12.450000,12.450000,10.825000,11.600000,10.187160,1207928
4,2008-10-13,12.150000,13.300000,11.650000,12.325000,10.823855,898692
...,...,...,...,...,...,...,...
3540,2023-02-15,74.699997,76.650002,74.699997,75.550003,75.550003,83127
3541,2023-02-16,75.949997,77.000000,73.199997,73.650002,73.650002,157289
3542,2023-02-17,73.699997,74.349998,71.900002,72.050003,72.050003,89627
3543,2023-02-20,72.099998,73.000000,69.000000,70.050003,70.050003,116487
3544,2023-02-21,70.000000,71.250000,69.500000,70.199997,70.199997,82458

In [ ]:
nse[-1]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-11-13,219.949997,223.399994,196.250000,200.550003,181.701569,82200
1,2009-11-16,204.699997,205.800003,195.100006,196.600006,178.122772,22711
2,2009-11-17,197.699997,215.000000,196.100006,210.649994,190.852295,58183
3,2009-11-18,209.699997,214.000000,206.000000,207.050003,187.590622,23650
4,2009-11-19,207.699997,212.800003,202.000000,203.000000,183.921265,26536
...,...,...,...,...,...,...,...
3274,2023-02-15,1427.949951,1480.000000,1411.550049,1473.449951,1473.449951,20058
3275,2023-02-16,1467.000000,1474.000000,1430.150024,1437.599976,1437.599976,8726
3276,2023-02-17,1444.800049,1463.949951,1436.250000,1451.349976,1451.349976,7297
3277,2023-02-20,1459.000000,1459.750000,1440.949951,1445.449951,1445.449951,15578
3278,2023-02-21,1453.050049,1479.000000,1441.150024,1462.300049,1462.300049,16105

In [ ]:
nse[0]['Open'][0]

40.0

In [ ]:
tickersSensex[0]

'20MICRONS'

In [ ]:
# to add tickers from tickerlist 
for i in range (0,len(nse)):
  nse[i]['Ticker']=''
  for j in range(0,len(nse[i])):
    nse[i]['Ticker'][j]=tickersSensex[i]

<ipython-input-48-38efaba937f0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nse[i]['Ticker'][j]=tickersSensex[i]

In [ ]:
nse[0]

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,2008-10-06,40.000000,40.000000,15.800000,16.775000,14.731859,23501600,20MICRONS
1,2008-10-07,16.000000,19.000000,13.925000,15.025000,13.195004,9113400,20MICRONS
2,2008-10-08,14.000000,14.600000,12.550000,13.250000,11.636193,2464384,20MICRONS
3,2008-10-10,12.450000,12.450000,10.825000,11.600000,10.187160,1207928,20MICRONS
4,2008-10-13,12.150000,13.300000,11.650000,12.325000,10.823855,898692,20MICRONS
...,...,...,...,...,...,...,...,...
3540,2023-02-15,74.699997,76.650002,74.699997,75.550003,75.550003,83127,20MICRONS
3541,2023-02-16,75.949997,77.000000,73.199997,73.650002,73.650002,157289,20MICRONS
3542,2023-02-17,73.699997,74.349998,71.900002,72.050003,72.050003,89627,20MICRONS
3543,2023-02-20,72.099998,73.000000,69.000000,70.050003,70.050003,116487,20MICRONS
3544,2023-02-21,70.000000,71.250000,69.500000,70.199997,70.199997,82458,20MICRONS

In [ ]:
nse[1]

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,2018-01-11,33.400002,33.400002,33.400002,33.400002,31.146290,157,21STCENMGM
1,2018-01-12,34.049999,34.049999,34.049999,34.049999,31.752428,360,21STCENMGM
2,2018-01-15,34.700001,34.700001,34.700001,34.700001,32.358570,795,21STCENMGM
3,2018-01-16,35.349998,35.349998,35.349998,35.349998,32.964706,2735,21STCENMGM
4,2018-01-17,36.049999,36.049999,35.400002,36.049999,33.617474,56033,21STCENMGM
...,...,...,...,...,...,...,...,...
1259,2023-02-15,19.150000,19.150000,19.150000,19.150000,19.150000,1307,21STCENMGM
1260,2023-02-16,18.799999,19.000000,18.799999,18.799999,18.799999,7652,21STCENMGM
1261,2023-02-17,18.450001,18.450001,18.450001,18.450001,18.450001,1007,21STCENMGM
1262,2023-02-20,18.350000,18.799999,18.100000,18.100000,18.100000,11176,21STCENMGM
1263,2023-02-21,18.100000,18.100000,17.750000,17.750000,17.750000,1392,21STCENMGM

In [ ]:
# to bring tickers column at first 
for i in range(0,len(nse)):
  cols = nse[i].columns.tolist()
  cols = cols[-1:] + cols[:-1]
  nse[i] = nse[i][cols]

nse[0]

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,20MICRONS,2008-10-06,40.000000,40.000000,15.800000,16.775000,14.731859,23501600
1,20MICRONS,2008-10-07,16.000000,19.000000,13.925000,15.025000,13.195004,9113400
2,20MICRONS,2008-10-08,14.000000,14.600000,12.550000,13.250000,11.636193,2464384
3,20MICRONS,2008-10-10,12.450000,12.450000,10.825000,11.600000,10.187160,1207928
4,20MICRONS,2008-10-13,12.150000,13.300000,11.650000,12.325000,10.823855,898692
...,...,...,...,...,...,...,...,...
3540,20MICRONS,2023-02-15,74.699997,76.650002,74.699997,75.550003,75.550003,83127
3541,20MICRONS,2023-02-16,75.949997,77.000000,73.199997,73.650002,73.650002,157289
3542,20MICRONS,2023-02-17,73.699997,74.349998,71.900002,72.050003,72.050003,89627
3543,20MICRONS,2023-02-20,72.099998,73.000000,69.000000,70.050003,70.050003,116487
3544,20MICRONS,2023-02-21,70.000000,71.250000,69.500000,70.199997,70.199997,82458

In [ ]:
# to store all the stocks in one dataframe
NSE = pd.DataFrame()
NSE = nse[0]
for i in range(1,len(nse)):
  NSE= NSE.append(nse[i], ignore_index = True)

NSE

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,20MICRONS,2008-10-06,40.000000,40.000000,15.800000,16.775000,14.731859,23501600.0
1,20MICRONS,2008-10-07,16.000000,19.000000,13.925000,15.025000,13.195004,9113400.0
2,20MICRONS,2008-10-08,14.000000,14.600000,12.550000,13.250000,11.636193,2464384.0
3,20MICRONS,2008-10-10,12.450000,12.450000,10.825000,11.600000,10.187160,1207928.0
4,20MICRONS,2008-10-13,12.150000,13.300000,11.650000,12.325000,10.823855,898692.0
...,...,...,...,...,...,...,...,...
5956417,ZYDUSWELL,2023-02-15,1427.949951,1480.000000,1411.550049,1473.449951,1473.449951,20058.0
5956418,ZYDUSWELL,2023-02-16,1467.000000,1474.000000,1430.150024,1437.599976,1437.599976,8726.0
5956419,ZYDUSWELL,2023-02-17,1444.800049,1463.949951,1436.250000,1451.349976,1451.349976,7297.0
5956420,ZYDUSWELL,2023-02-20,1459.000000,1459.750000,1440.949951,1445.449951,1445.449951,15578.0
5956421,ZYDUSWELL,2023-02-21,1453.050049,1479.000000,1441.150024,1462.300049,1462.300049,16105.0

In [ ]:
type(NSE)

pandas.core.frame.DataFrame

In [ ]:
NSE.iloc[0:445:]

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,20MICRONS,2008-10-06,40.000000,40.000000,15.800,16.775000,14.731859,23501600.0
1,20MICRONS,2008-10-07,16.000000,19.000000,13.925,15.025000,13.195004,9113400.0
2,20MICRONS,2008-10-08,14.000000,14.600000,12.550,13.250000,11.636193,2464384.0
3,20MICRONS,2008-10-10,12.450000,12.450000,10.825,11.600000,10.187160,1207928.0
4,20MICRONS,2008-10-13,12.150000,13.300000,11.650,12.325000,10.823855,898692.0
...,...,...,...,...,...,...,...,...
440,20MICRONS,2010-07-27,25.500000,26.799999,25.375,25.525000,22.416140,71404.0
441,20MICRONS,2010-07-28,25.275000,26.500000,24.350,24.700001,21.691622,97904.0
442,20MICRONS,2010-07-29,24.549999,24.875000,24.250,24.549999,21.559889,95400.0
443,20MICRONS,2010-07-30,24.549999,26.750000,24.350,25.525000,22.416140,327604.0
444,20MICRONS,2010-08-02,25.625000,26.575001,25.500,26.049999,22.877190,103886.0

In [ ]:
# NSE.to_csv('/content/drive/MyDrive/MDG SOC 23/NSE Stock Data(upto 21feb).csv')
# to convert dataframe to csv

In [ ]:
nse[0]
# 20MICRONS

,Date,Open,High,Low,Close,Adj Close,Volume
0,2008-10-06,40.000000,40.000000,15.800000,16.775000,14.731859,23501600
1,2008-10-07,16.000000,19.000000,13.925000,15.025000,13.195004,9113400
2,2008-10-08,14.000000,14.600000,12.550000,13.250000,11.636193,2464384
3,2008-10-10,12.450000,12.450000,10.825000,11.600000,10.187160,1207928
4,2008-10-13,12.150000,13.300000,11.650000,12.325000,10.823855,898692
...,...,...,...,...,...,...,...
3540,2023-02-15,74.699997,76.650002,74.699997,75.550003,75.550003,83127
3541,2023-02-16,75.949997,77.000000,73.199997,73.650002,73.650002,157289
3542,2023-02-17,73.699997,74.349998,71.900002,72.050003,72.050003,89627
3543,2023-02-20,72.099998,73.000000,69.000000,70.050003,70.050003,116487
3544,2023-02-21,70.000000,71.250000,69.500000,70.199997,70.199997,82458

In [ ]:
type(nse[0])

pandas.core.frame.DataFrame

In [ ]:
nse[1]

           Date       Open       High        Low      Close  Adj Close  Volume
0    2018-01-11  33.400002  33.400002  33.400002  33.400002  31.146290     157
1    2018-01-12  34.049999  34.049999  34.049999  34.049999  31.752428     360
2    2018-01-15  34.700001  34.700001  34.700001  34.700001  32.358570     795
3    2018-01-16  35.349998  35.349998  35.349998  35.349998  32.964706    2735
4    2018-01-17  36.049999  36.049999  35.400002  36.049999  33.617474   56033
...         ...        ...        ...        ...        ...        ...     ...
1259 2023-02-15  19.150000  19.150000  19.150000  19.150000  19.150000    1307
1260 2023-02-16  18.799999  19.000000  18.799999  18.799999  18.799999    7652
1261 2023-02-17  18.450001  18.450001  18.450001  18.450001  18.450001    1007
1262 2023-02-20  18.350000  18.799999  18.100000  18.100000  18.100000   11176
1263 2023-02-21  18.100000  18.100000  17.750000  17.750000  17.750000    1392

[1264 rows x 7 columns]